<div id="album-edit-app"></div>


@section styles {
    <environment exclude="Development">
        <link rel="stylesheet" href="/dist/admin.css" asp-append-version="true">
    </environment>
}

@section scripts {
    <environment exclude="Development">
        <script src="~/dist/admin.js" type="module" asp-append-version="true"></script>
    </environment>
    <environment include="Development">
        <script src="~/Scripts/admin.ts" type="module" asp-append-version="true">
        </script>
    </environment>
}