<div id="album-edit-app"></div>

@section scripts {
    <environment exclude="Development">
        <script src="~/dist/admin.js" type="module" asp-append-version="true"></script>
    </environment>
    <environment include="Development">
        <script src="~/Scripts/admin.js" type="module" asp-append-version="true">
        </script>
    </environment>
}