@using System.Globalization
@using AKCore.DataModel

@model AKCore.Models.UpcommingModel
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    var culture = new CultureInfo("sv");
}
@if (Model.LoggedIn)
{
    <div class="ical-link">
        <a href="/upcomming/akevents.ics" class="fa fa-calendar" aria-hidden="true"> Ical-länk</a>
    </div>
}
@foreach (var g in Model.Events)
{
    <h2>@g.Key</h2>
    var lastMonth = "";

    foreach (var e in g)
    {
        var newMonth = e.Day.ToString("MMMM", culture);
        if (lastMonth != newMonth)
        {
            <h3 class="new-month">@newMonth</h3>
            lastMonth = newMonth;
        }
        <div class="row event-row">
            @if (Model.LoggedIn)
            {
                @Html.Partial("Partials/LoggedInEvent", e)
            }
            else
            {
                @Html.Partial("Partials/LoggedOutEvent", e)
            }
        </div>
    }
}