@model AKCore.Models.HeaderModel

<header>
    <div class="container">
        <a class="logo" href="/">
            <img class="hidden-xs" src="~/images/logo.png" alt="Alte Kamereren & Kamrérbaletten" />
            <img class="visible-xs" src="~/images/mobillogo.png" alt="Alte Kamereren & Kamrérbaletten" />
        </a>
        <div class="account hidden-xs">
            @if (!Model.LoggedIn)
            {
                <a href="#" class="login">Logga in</a>
            }
            else
            {
                <p>
                    @if (Model.Recruits > 0) { 
                        <a class="interested-notice" title="@Model.Recruits olästa intresseanmälningar" href="/Signup/Recruits">
                            <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                            <span class="text">@Model.Recruits</span>
                        </a>
                    }
                    Inloggad som
                    @if (Model.UserName == "nintendo")
                    {
                        @: nintendo
                    }
                    else
                    {
                        <a href="/Profile">@Model.UserName</a>
                    }
                </p>
                <a href="/Account/Logout" class="logout">Logga ut</a>
            }
        </div>
        <div class="social hidden-xs hidden-print">
            <a href="https://www.facebook.com/altekamereren/" target="_blank" class="fa fa-facebook-square" aria-hidden="true"></a>
            <a href="https://twitter.com/Alte_Kamereren" target="_blank" class="fa fa-twitter-square" aria-hidden="true"></a>
            <a href="https://www.youtube.com/user/AlteKamereren" target="_blank" class="fa fa-youtube-square" aria-hidden="true"></a>
            <a href="https://www.instagram.com/altekamereren/" target="_blank" class="fa fa-instagram" aria-hidden="true"></a>
        </div>
    </div>
    <nav>
        <partial name="Partials/DesktopMenu" model="Model"/>
    </nav>
</header>
<div id="mobile-menu">
    <partial name="Partials/MobileMenu" model="Model"/>
</div>