@using AKCore.DataModel
@model AKCore.DataModel.Widget


<script>
    var selectedDate = '@Model.TargetDate @Model.TargetTime'
</script>

<div class="row">
    <div class="col-sm-12">
        <div id="countdown"> </div>
    </div>
</div>