@model AKCore.DataModel.Widget

<div class="row">
    <div class="col-sm-12">
        <div class="header-with-text" style="background-image:url('@settings.CDN@Model.Image')">
            @Html.Raw(Model.Text)
        </div>
    </div>
</div>