@using AKCore.DataModel
@model AKCore.DataModel.Widget



<div class="row">
    <div class="col-md-12">
        <div class="video-bg">
            <div class="video-bg-content loading">
                <h1>Vill du anlita oss?</h1>
            </div>
            <div id="ytplayer">
            </div>
        </div>
    </div>
    <div class="col-md-12">
        @Html.Raw(Model.Text)
    </div>
    <form id="hire-form" method="POST" action="/Hire/Hire">
        <div class="col-md-12">
            <div class="alert alert-danger" style="display: none;"></div>
            <div class="alert alert-success" style="display: none;"></div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="HireModel.Name"></label>
                <input type="text" class="form-control" placeholder="Namn" name="Name" required>
            </div>
            <div class="form-group">
                <label asp-for="HireModel.Email"></label>
                <input type="text" class="form-control" placeholder="Epost" name="Email" required>
            </div>
            <div class="form-group">
                <label asp-for="HireModel.Tel"></label>
                <input class="form-control" placeholder="Telefonnummer" name="Tel">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="HireModel.Other"></label>
                <textarea class="form-control" name="Other" rows="8"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Skicka!</button>
            </div>
        </div>
    </form>
</div>

<script>
    if (window.innerWidth>768){
        var tag = document.createElement('script');
        tag.src = "https://www.youtube.com/player_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
        var player;
        function onYouTubePlayerAPIReady() {
            player = new YT.Player('ytplayer', {
                height: '720',
                width: '1080',
                videoId: 'phetsuZQWjU',
                playerVars: {
                    'autoplay': 1,
                    'controls': 0,
                    'disablekb': 0,
                    'loop': 1,
                    'modestbranding': 1,
                    'showinfo': 0,
                    'fs': 0,
                    'start': 25
                },
                events: {
                    onReady: function (e) {
                        e.target.mute();
                    
                    },
                    'onStateChange': onPlayerStateChange
                }
            });
        }
        function onPlayerStateChange(event) {
            if (event.data == YT.PlayerState.PLAYING) {
                $('.video-bg-content').removeClass('loading');
            }
        }
    } else {
        document.querySelector('.video-bg').classList.add('mobile');
    }
</script>
