@model AKCore.DataModel.Widget

@if (Model.Albums != null)
{
    <script>
    @if (User.Identity.IsAuthenticated)
    {
        @: var loggedIn = true;
    }
    else
    {
        @: var loggedIn = false;
    }
    </script>

    <div class="row">
        <div class="col-sm-12">
            <div id="music-app"></div>
        </div>
    </div>

    @await Component.InvokeAsync("Albums", Model)
}