@model AKCore.DataModel.Widget

@if (Model.Albums != null)
{
    <div class="row">
        <div class="col-sm-12">
            <div id="music-app"></div>
        </div>
    </div>

    @await Component.InvokeAsync("Albums", Model)
}