@model AKCore.DataModel.Widget


<div class="row videos-header">
    <div class="videos-header-item col-xs-12 col-sm-8">
        @Html.Raw(Model.Text)
    </div>
    <div class="videos-header-item col-xs-12 col-sm-4">
        <div class="videos-header-search-app" id="videos-header-search-app">
        </div>
    </div>
</div>

