@model AKCore.DataModel.Widget


<div class="row videos-header">
    <div class="col-sm-12">
        @Html.Raw(Model.Text)
    </div>

    <div class="videos-header-search-app" id="videos-header-search-app" >
    </div>
</div>

