@model AKCore.DataModel.Widget

<script>
    var widgetVideos = [];
    @if (Model.Videos != null)
    {
        foreach (var v in Model.Videos)
        {
            @: var widgetVideo = {};
            @: widgetVideo.link = '@v.Link';
            @: widgetVideo.title = '@v.Title';
            @: widgetVideos.push(widgetVideo);
        }
    }
    if (!videos) {
        var videos = {};
    }
    videos[@Model.Id] = widgetVideos;
</script>

<div class="videos-app" id="videos-app-@Model.Id" data-id="@Model.Id">
</div>