
<div id="createUserModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Lägg till en ny användare</h4>
            </div>
            <form action="/User/CreateUser" id="create-user-form" autocomplete="off" method="post">
                <div class="modal-body">
                    <div class="alert alert-success" style="display: none;">
                    </div>
                    <div class="alert alert-danger" style="display: none;">
                    </div>
                    <div class="form-group">
                        <label>Användarnamn</label>
                        <input type="text" autocomplete="off" class="form-control" name="userName" placeholder="Användarnamn" value="" required>
                    </div>
                    <div class="form-group">
                        <label>Lösenord</label>
                        <input type="password" autocomplete="off" class="form-control" name="password" placeholder="Lösenord" value="" required>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Lägg till</button>
                </div>
            </form>

        </div>
    </div>
</div>