<div id="user-container">
    <div id="user-app">
    </div>
</div>

@section styles {
    <partial name="Imports/AdminImportStyles" />
}

@section scripts {
    <partial name="Imports/AdminImportScripts" />
}
