@using AKCore.Models

<div id="user-container">
    <div id="user-app">
    </div>
</div>

<partial name="_CreateUserModal"/>

@section styles {
    <environment exclude="Development">
        <link rel="stylesheet" href="/dist/admin.css" asp-append-version="true">
    </environment>
}

@section scripts {
    <script src="~/dist/admin.js" asp-append-version="true"></script>
}