@model AKCore.Models.UsersModel
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}


<div class="row">
    <div class="col-md-9">
        <div class="alert alert-danger" style="display: none;"></div>
        <div class="alert alert-success" style="display: none;">Användare skapad</div>
        <table class="table" id="user-table">
            @Html.Partial("_UserList", Model)
        </table>
    </div>
    <div class="col-md-3">
        <a class="btn btn-default" id="create-user" href="#" role="button">Lägg till ny användare</a>
    </div>
</div>

@Html.Partial("_CreateUserModal")