@using AKCore.Models
@model UsersModel

<div id="user-container">
    <div id="user-app">
    </div>
</div>

@Html.Partial("_CreateUserModal")
<div id="editUserModal" class="modal fade">
    @Html.Partial("_EditUserModal", new ProfileModel())
</div>
@Html.Partial("_ChangePasswordModal")

