@using AKCore.Models

<div id="user-container">
    <div id="user-app">
    </div>
</div>

<partial name="_CreateUserModal"/>
<div id="editUserModal" class="modal fade">
    <partial name="_EditUserModal" model="new ProfileModel()"/>
</div>
<partial name="_ChangePasswordModal"/>

@section styles {
    <link rel="stylesheet" href="/dist/admin.css" asp-append-version="true">
}

@section scripts {
    <script src="~/dist/admin.js" asp-append-version="true"></script>
}