@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    ViewBag.Title = "Teapot";
}

<div class="row">
    <div class="col-sm-4">
        <p>
            I'm a little teapot <br />
            Short and stout<br />
            Here is my handle<br />
            Here is my spout<br />
            When I get all steamed up<br />
            Hear me shout<br />
            Just tip me over and pour me out!<br />
        </p>
        <p>
            I'm a special teapot<br />
            Yes, it's true<br />
            Here's an example of what I can do<br />
            I can turn my handle into a spout<br />
            Just tip me over and pour me out!<br />
        </p>
    </div>
    <div class="col-sm-8">
        <img style="max-width: 400px;" src="/images/teapot.png">
    </div>
</div>