@import "variables.scss";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "modals.scss";
@import "edit.scss";
@import "general.scss";
@import "menu.scss";
@import "videos.scss";
@import "multi-select.scss";
@import "joinus.scss";
@import "recruits.scss";
@import "calendar.scss";
@import "widget-styling.scss";
@import '~vue-select/dist/vue-select.css';

#snow{
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 133px;
  opacity: 0.9;
  z-index: 5;
  pointer-events: none;
  background-color: #b10000;
  @media screen and (max-width: $screen-xs-max) {
    height: 85px;
  }
}

header .container, header nav {
    z-index: 6;
}