#album-list{
    .row:hover{
        background-color: #1a0000;
    }
    .image, .name, .actions, .tracks{
        height: 100px;
        vertical-align:middle;
    }
    .actions,.image, .tracks{
        display: flex;
        align-items: center;
    }
    .tracks{
        cursor:pointer;
    }
    .name{
        font-size: 20px;
        display: flex;
        align-items: center;
        .name-input{
            background-color: transparent;
            border:0;
            outline:0;
            &:focus{
                background: #fff;
                color:#000;
            }
        }
    }
    .del-album{
        font-size: 20px;
        color:red;
    }
}
.album-img{
    height: 100px;
    width: 100px;
}

#trackform{
        padding: 20px;

    .btn-file{
        margin-bottom:0;
        padding: 10px 20px;
    }
    #tracklist{
        margin-bottom:15px;
    }
}