
#trackform{
        padding: 20px;

    .btn-file{
        margin-bottom:0;
        padding: 10px 20px;
    }
    #tracklist{
        margin-bottom:25px;
    }
}

.tracklist {
    list-style-type: none;
    text-align: left;
    max-width: 370px;
    margin: auto;
    padding-left: 0;

    li {
        margin-bottom: 6px;
    }

    .number {
        font-weight: 500;
        margin-right: 14px;
        display: inline-block;
        vertical-align: top;
    }

    .name {
        max-width: 310px;
        display: inline-block;
    }

    .name-input {
        width: 80%;
    }

    .rem-track {
        float: right;
    }
}