
#new-page-form{
    display:none;
}

.top-row{
    font-weight:500;
    margin-bottom: 10px;
    border-bottom: 2px solid #1a1a1a;
}

.edit-form{
    padding-top: 35px;
    .row{
        margin-bottom: 10px;
    }
}
.chosen-container-single .chosen-single {
    height: 34px;
    padding: 6px 12px;
}

.btn.move-up,
.btn.move-down,
.btn.move-left,
.btn.move-right,
.btn.add-sub-menu,
.btn.remove-menu,
.btn.remove-sub-menu{
    float:right;
}

.menu-item{
    margin-bottom: 5px;
}
.menu-row {
    display: inline-block;
    width: 100%;

    &.sub-row {
        margin-top: 5px;
        padding-left: 50px;
    }

    .btn {
        padding: 3px 23px;
    }

    &:hover {
        background-color: #1a0000;
    }
}
#menualerts{
    margin-top: 20px;
}

.submenu {
    background-color: #999999;
    color: white;

    &:focus {
        background-color: $akred;
        border-color: #6E1601;
        color: white;
    }

    &:hover {
        color: #333;
        background-color: $akwhite;
        border-color: #ccc;
    }
}

.save-medal {
    margin-bottom: 10px;
}


.hover-grey:hover{
    background-color:#1a0000;
}

.btn.remove-user{
    padding: 0px 12px;
    color: red;
}

.ak-search{
    margin-bottom:25px;
}
.content-wrapper {
    .user-edit {
        font-size: 13px;
        .roles-info {
            font-size: 20px;
            margin-left: 5px;
        }

        .user-edit-area {
            margin-bottom: 0;
            padding: 20px;

            .edit-group {
                margin-top: 10px;
            }
        }
    }
}
#user-table {
    table-layout: auto;

    .role {
        cursor: pointer;
    }

    .tooltip {
        opacity: 1;

        .tooltip-inner {
            background-color: $akwhite;
            color: #555555;
        }

        .tooltip-arrow {
            border-top-color: $akwhite;
        }
    }
}

.revisions {
    h2 {
        font-weight: 500;
        margin-top: 0;
        color: $akwhite;
        font-size: 15px;
        line-height: 15px;
        margin-bottom: 15px;
    }

    .revision {
        font-size: 12px;
        display: block;
        &.selected{
            text-decoration: underline;
        }
    }
}

.remove-role {
    color: $akwhite;
    font-size: 12px;
}
.collapsed{
    .remove-role{
        display:none;
    }
}
.box {
    border: 2px dashed #a5a2a0;
    border-offset: -10px;
    border-radius: 15px;
    padding-top: 20px;

    .mediatags {
        max-width: 180px;
        margin: auto;
        margin-bottom: 25px;
    }
}
.box .box__dragndrop {
    display: inline;
}
.box__input{
    color: #a5a2a0;
    .btn{
        font-size:14px;
        margin-bottom: 15px;
        padding: 15px 30px;
    }
}
.box.is-dragover {
    background-color: grey;
}

.upload-btn{
    margin-top: 20px;
}

.gallery {
    font-weight: 400;

    img {
        max-width: 100%;
        max-height: 135px;
    }

    .back-arrow {
        margin-bottom: 20px;
        display: block;
    }

    .folder-box {
        background: url('/images/folder.svg') grey no-repeat;
        background-size: contain;
        height: 140px;
        background-position-x: 50%;
        display: block;
        border-radius: 7px;
        position: relative;
        font-weight: 500;

        .name {
            position: absolute;
            text-align: center;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 14px;
        }

        .number {
            position: absolute;
            top: 2px;
            left: 2px;
        }

        .fa {
            font-size: 168px;
        }

        &:hover {
            color: $akred;
        }
    }

    .image-box {
        height: 210px;
        overflow: hidden;
        text-align: center;
        font-size: 12px;
        cursor: pointer;

        .glyphicon-file {
            font-size: 140px;
            color: $akred;
            margin-right: -10px;
        }

        .doc-ext {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            color: black;
            top: 40%;
            text-transform: uppercase;
            font-weight: 500;
        }

        .name {
            word-break: break-all;
            width: 85%;
            bottom: 20px;
            position: absolute;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
#fileeditform {
    text-align: center;

    #fileedit-img {
        max-height: 200px;
        margin: 20px;
    }
}

.gallery {
    .remove-media {
        background-color: $akred;
        color: black;
        border-radius: 2px;
        line-height: 20px;
        position: absolute;
        right: 15px;
        width: 20px;
        height: 20px;
        top: 115px;
    }
}
.dropdown{
    display:inline-block;
}
.widget-choose-special{
    width:100%;
}
.widget-choose{
    background-color: #4C4C4C;
    height: 252px;
    columns: 3;
    column-fill: auto;
    padding: 5px 8px;
    &.dropdown-menu li{
        padding:10px;
        color:#6b6b6b;
        & a{
            border: 2px dashed #6b6b6b;
            width: 230px;
            height: 100px;
            color:#6b6b6b;
            &:hover,
            &:focus{
                background-color: #4C4C4C;
                border-color:#303030;
                color:#303030;
            }
        }
    }
    .glyphicon{
        font-size: 80px;
        margin-right: 20px;
        &.nomargin{
            margin-right: -9px;
        }
    }
}

#widget-templates{
    display:none;
}

.widget{
    background-color:white;
    margin-right: 0;
    margin-left: 0;
    margin-top:20px;
    color:black;
    padding-bottom:20px;
    border-radius: 4px;
}
.widget-header{
    position: relative;
    padding: 12px 15px 12px 40px;
    background-color: #ece8e5;
    margin-bottom:20px;
    border-radius: 4px;
}

.picture-select{
    text-align: center;
    img{
        width: 200px;
        height: 200px;
    }
}
.choose-picture-btn{
    margin-top: 40px;
    display: block;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.min-widget,
.remove-widget{
    font-size: 22px;
    top: -41px;
}

#picker-images{
    .image-box{
        cursor: pointer;
    }
}

#widget-area{
    list-style-type: none;
    padding:0;
}

.mce-content{
    width: 100%;
    min-height: 250px;
    background-color: black;
    color: white;
}

.minimized .widget-body{
    display:none;
}

table{
    table-layout: fixed; 
    td{
        vertical-align: top;
    }
}

#edit-event-modal {
    .description, .rep-fika, .spelning-tid, .sta-ga, .spelning-tid-there, .only-spelning {
        display: none;
    }

    .editeventbody {
        display: none;
    }

    &.Rep, &.Kårhusrep, &.Fikarep, &.Spelning, &.Fest {
        .editeventbody {
            display: block;
        }
    }

    &.Spelning {
        .spelning-tid,
        .spelning-tid-there,
        .description,
        .sta-ga,
        .only-spelning {
            display: block;
        }
    }

    &.Rep, &.Kårhusrep, &.Fikarep {
        .rep-fika {
            display: block;
        }

        .spelning-fest {
            display: none;
        }
    }

    &.Kårhusrep, &.Fikarep, &.Rep {
        .place {
            display: none;
        }
    }

    &.Kårhusrep {
        .spelning-tid-there {
            display: block;
        }
    }

    &.Fikarep {
        .rep-fika {
            display: none;
        }
    }
}

.add-video-link{
}
.video-area{
    position: relative;
}
.btn.remove-video{
    color:black;
    position: absolute;
    right: 10px;
}
@media screen and (max-width: $screen-xs-max) {
    .menu-row.sub-row {
        padding-left: 0;
    }
}