html {
  overflow-y: scroll;
  border: 0;
}

:root {
  --vs-border-width: 0;
  --vs-dropdown-option-color: #000;
}

html,
body,
.wrap {
  height: 100%;
}
html,
body {
  overflow: auto;
  height: 100%;
  font-weight: 300;
  b,
  strong {
    font-weight: 500;
  }
}

body {
  overflow: visible;
}

h1 {
  color: $akred;
}

h2 {
  font-size: 22px;
  line-height: 40px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  color: $akred;
}
h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  color: $akred;
}
th {
  font-weight: 500;
}
label {
  font-weight: 500;
}
header {
  display: block;
  position: relative;
  border-bottom: 2px solid #1a1a1a;
  padding: 15px 0 0;
  background: $akred;
  .container {
    position: relative;
    padding: 0 45px;
  }

  a,
  a:visited {
    color: #000;
    font-weight: 500;
  }

  .logo {
    display: block;
  }
}
table td {
  padding: 10px;
}
body {
  background: #000;
  height: 100%;
  font-family: "Roboto", sans-serif;
  color: #dddddd;
  font-size: 15px;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}
p.big {
  font-size: 18px;
}

a {
  font-weight: 400;
}
.body-content {
  background: #000;
  color: $akwhite;
  position: relative;
}

.mobile-language-change {
  position: absolute;
  top: 0;
  right: 10px;
  padding: 10px;
  font-size: 2rem;
}

.modal {
  z-index: 70000;
}

.modal-open {
  padding-right: 0 !important;
}

::selection {
  background: $akred;
  color: $akwhite;
  text-shadow: none;
}

.account {
  text-align: right;
  padding: 5px;
  color: $akwhite;
  z-index: 10;
  top: 5px;
  position: absolute;
  right: 20px;
}

.social {
  text-align: right;
  padding: 5px;
  color: $akwhite;
  z-index: 10;
  bottom: -10px;
  position: absolute;
  right: 20px;
  font-size: 26px;

  a {
    transition: all 0.2s linear;
  }

  a:hover {
    color: $akwhite;
  }
}

.content-wrapper {
  padding: 40px 30px;

  .row {
    margin-bottom: 20px;
  }
}

.btn.btn-default,
.btn.btn-primary {
  background-color: $akred;
  border-color: #6e1601;
  color: white;

  &:focus {
    background-color: $akred;
    border-color: #6e1601;
    color: white;
  }

  &:hover {
    color: #333;
    background-color: $akwhite;
    border-color: #ccc;
  }
}

a:visited,
a {
  &.btn {
    color: white;
  }
}

.side-image {
  width: 100%;
}

.description {
  margin-top: 20px;
}

.exp:hover .subnav {
  display: block;
}

.spacing-right {
  margin-right: 5px;
}

.roles {
  display: flex;
  gap: 5px;
  .role {
    background-color: $akred;
    border-radius: 5px;
    padding: 2px;
  }
}

.center-image {
  text-align: center;
}

.main-image {
  width: 100%;
}

p.infobox {
  background-color: #6e1601;
  color: #dddddd;
  border: 5px solid #430800;
  border-radius: 10px;
  padding: 10px;
  margin: 40px 0;
}

#kamerersposter {
  .kategori + .kategori {
    border-top: 1px solid red;
    padding-top: 20px;
  }

  .row {
    padding: 10px;
    margin-bottom: 15px;

    &:hover {
      background-color: #1a0000;
    }
  }
}

#signup-list {
  .can-come {
    float: right;
  }
}

.indent {
  margin-left: 20px;
}

.new-month {
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.content-wrapper .signup-row {
  background-color: #430800;
  margin-bottom: 10px;
  padding: 5px;
  padding-top: 15px;
  margin-left: 0px;
  margin-right: 0px;

  &:nth-of-type(even) {
    background-color: #1e0500;
  }
}

.signup-element {
  overflow: hidden;
}
.notice-box {
  position: absolute;
  right: 180px;
}
.interested-notice,
.mail-notice {
  margin-bottom: 8px;
  display: block;

  .text {
    color: $akwhite;
  }

  .fa {
    font-size: 20px;
    position: absolute;
    left: -25px;
  }
}

@media screen and (max-width: $screen-xs-max) {
  h1 {
    font-size: 30px;
  }

  .content-wrapper {
    padding: 40px 7px;
  }

  header {
    height: 85px;

    .container {
      padding: 0 15px;
    }

    .logo {
      img {
        max-height: 90px;
        width: auto;
      }
    }

    nav {
      height: 0;
      position: absolute;
      top: 85px;
    }

    #open-mobile-menu {
      top: -82px;
    }
  }
}

@media print {
  a[href]:after {
    content: "";
  }
  .signup-row {
    border-bottom: 1px solid #000;
  }
  .signup-element {
    width: 20%;
    float: left;
  }
  body {
    overflow: visible;
  }
}
