html{
    overflow-y: scroll;
}

html,body,.wrap{
    height: 100%;
}
html,
body {
    overflow: auto;
    height: 100%;
    b, strong {
        font-weight: 500;
    }
}

h1{
    color: @akred;
}

h2{
    font-size: 22px;
    line-height: 40px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
    color: @akred;
}
h3 {
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
    color: @akred;
}
th{
    font-weight:500;
}
label {
    font-weight: 500;
}
header {
    display: block;
    position: relative;
    border-bottom: 2px solid #1a1a1a;
    padding: 15px 0 0;
    background: @akred;
    .container {
        position: relative;
        padding: 0 45px;
    }

    a, a:visited {
        color: #000;
        font-weight: 500;
    }

    .logo {
        display: block;
    }
}
body {
    background: #000;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: #dddddd;
    font-size: 15px;
}
a:visited,
a {
    color: @akred;
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
p.big{
    font-size: 18px;
}   



.body-content{
    background:#000;
    color:#fff;
}

.modal{
    z-index: 70000;
}
.modal-open {
    padding-right: 0 !important;
}
::selection { background: @akred; color: #fff; text-shadow: none; }

.account{
    text-align: right;
    padding: 5px;
    color: #fff;
    z-index: 10;
    top: 5px;
    position: absolute;
    right: 20px;
}
.content-wrapper{
    padding: 30px 30px;
    .row{
        margin-bottom: 20px;
    }
}

.btn.btn-default,
.btn.btn-primary{
    background-color:@akred;
    border-color:#6E1601;
    color:white;
    &:focus{
        background-color:@akred;
        border-color:#6E1601;
        color:white;
    }
    &:hover{
        color: #333;
        background-color: #fff;
        border-color: #ccc;
    }
}

a:visited,
    a {
    &.btn{
        color: white;
    }
}

.side-image{
    max-width: 100%;
}


.description{
    margin-top:20px;
}

.exp:hover .subnav{
    display:block;
}
.roles{
    .role{
        background-color: @akred;
        border-radius: 5px;
        margin-right: 10px;
        padding: 2px;
    }
}
.center-image{
    text-align:center;
}
.main-image{
    max-width:100%;
}

p.infobox {
    background-color: #6e1601;
    color: #dddddd;
    border: 5px solid #430800;
    border-radius: 10px;
    padding: 10px;
    margin: 40px 0;
}

.btn-facebook{
    color: #fff;
    background-color: #3b5998;
    border-color: transparent;
}

#fb-login{
    float:left;
}

#adress-register .kamerer {
    padding-bottom: 4px;
}

#adress-register .kamerer:nth-of-type(n+2) {
    border-top: dashed 1px #333333;
    padding-top: 4px;
}

#adress-register .kamerer > div {
    display: inline-block;
    vertical-align: top;
}

#adress-register .kamerer div:first-child {
    width: 20em;
}

#adress-register .kamerer div:nth-child(2) {
    width: 20em;
}

#adress-register .kamerer div:nth-child(3) {
    width: 15em;
}

#adress-register a {
    white-space: nowrap;
}

#kamerersposter{
    .kategori{
        border-bottom:1px solid red;
    }
    .row{
        padding: 10px;
        &:hover{
            background-color:#1a0000;
        }
    }   
}

.indent{
    margin-left: 20px;
}

.new-month{
    margin-top: 20px;
}

.content-wrapper .signup-row{
    background-color:#430800;
    margin-bottom: 10px;
    padding: 5px;
    padding-top: 15px;
    margin-left: 0px;
    margin-right: 0px;
    &:nth-of-type(n+2){
        background-color:#1e0500;
    }
}
.youtubelist{
    list-style-type: none;
}
.signup-element{
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    header {
        .container {
            padding: 0 15px;
        }
        .logo {
            img {
                max-height: 90px;
                width:auto;
            }
        }
        nav{
            height:0;
        }
         #open-mobile-menu {
            top: -85px;
        }
    }
   
}