nav{
    display: block;
    position: absolute;
    bottom: -15px;
    right: 0px;
    margin: 0px;
}
.navigation{
    display: block;
    position: relative;
    margin-bottom: 20px;
    right: 10px;
    li{
        position: relative;
        background-color: black;
        a {
            font-weight: bold;
            display: block;
            border-bottom: 4px solid white;
            color: #999999;
            font-size: 12px;
            padding-bottom: 3px;
            margin-left: 4px;
            &.active,
            &:hover{
                display: block;
                color: #cccccc;
                border-color: red;
                text-decoration: none;
            }
        }
    }
}
.navigation > * {
    display: inline-block;
}
.mob-navigation{
    list-style: none;
    padding-left: 0;
    ul{
        list-style: none;
        padding-left: 0;
    }
    &>li{
        display: block;
        border-bottom: 1px solid #eee8e5;
        &>a,&>span{
            font-size: 16px;
            padding: 10px;
            display: block;
            position:relative;
            &:hover{
                background-color: #1a0000;
            }
        }
    }
    a,span{
        color: #999999;
        font-weight: bold;
        text-align: center;
    }
    .submenu-item{
        padding: 10px;
        display: block;
        &:hover{
            background-color: #1a0000;
        }
    }
}
.mob-navigation span.exp-submenu{
    position:absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    padding: 12px;
}
.mob-subnav{
    display:none;
}
#mobile-menu{
    display:none;
}
#open-mobile-menu{
    display:none;
    font-size: 55px;
    right: 21px;
    top: -42px;
}
@media screen and (max-width: 768px) {
    .logo img{
        width: 388px;
        max-width:80%;
    }
    .account{
        right: inherit;
        top:82px;
        p{
            display: inline-block;
        }
    }
    .navigation{
        display:none;
    }
    #open-mobile-menu{
        display:block;
    }
}
