.modal-content{
    color: black;
}

.modal-enter, .modal-leave-active {
    opacity: 0;
}
.modal-dialog {
    overflow: auto;
}

.modal-enter .modal-dialog,
.modal-leave-active .modal-dialog {
    transform: translateY(-30%);
}