$akred: #b10000;
$akgrey: #2d2727;
$akwhite: #fff;
$aklightgrey: #ddd;
$link-color: $akred;
$link-hover-color: #900909;
$table-border-color: $akred;
$grid-gutter-width: 30px;

$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);

$screen-lg-min: 1200px;

$screen-md-min: 992px;
$screen-md-max: ($screen-lg-min - 1);
