.videos-app {
    position: relative;

    .videos-container {
        overflow: hidden;
    }

    .videos {
        width: 3000px;
        width: max-content;
        transition: transform ease-in-out .3s;

        .video {
            display: inline-block;
            width: 170px;
            margin-right: 10px;
            margin-bottom: 20px;
            text-align: center;

            img {
                width: 100%;
                height: auto;
            }
        }
    }

    .arrow-container-right, .arrow-container-left {
        position: absolute;
        color: $akred;
        background-color: #000;
        top: 0;
        width: 40px;
        height: 150px;


        .glyphicon {
            font-size: 114px;
            transform: scaleX(0.4);
            margin-left: -38px;
        }
    }

    .arrow-container-right {
        right: 0;
    }

    .arrow-container-left {
        left: 0;
    }
}

@media screen and (max-width: $screen-xs-max) {
    .videos-app {
        .videos {
            .video {
                width: 77px;
            }
        }

        .title {
            font-size: 12px;
        }

        .arrow-container-right, .arrow-container-left {

            .glyphicon {
                font-size: 78px;
                transform: scaleX(0.4);
                margin-left: -15px;
            }
        }
    }
}