@using AKCore.DataModel
@model AKCore.Models.ProfileModel
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}


<div class="row">
    <div class="col-md-6">
        <div class="">
            <h3>Roller</h3>
            <div class="roles">
                @foreach (var r in Model.Roles)
                {
                    <span class="role">
                        @r.ToString()
                    </span>
                }
            </div>
        </div>
        <h3>Användarinfo</h3>
        <form id="update-profile-form" method="POST" action="/Profile/EditProfile">
            <div class="alert alert-danger" style="display: none;"></div>
            <div class="alert alert-success" style="display: none;">Profil uppdaterad</div>
            <div class="form-group">
                <label asp-for="UserName"></label>
                <input type="text" class="form-control" placeholder="Användarnamn" asp-for="UserName">
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input class="form-control" placeholder="Epost" asp-for="Email">
            </div>
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input class="form-control" placeholder="Förnamn" asp-for="FirstName">
            </div>
            <div class="form-group">
                <label asp-for="LastName"></label>
                <input class="form-control" placeholder="Efternamn" asp-for="LastName">
            </div>
            <div class="form-group">
                <label asp-for="Adress"></label>
                <input class="form-control" placeholder="Adress" asp-for="Adress">
            </div>
            <div class="form-group">
                <label asp-for="ZipCode"></label>
                <input class="form-control" placeholder="Postnummer" asp-for="ZipCode">
            </div>
            <div class="form-group">
                <label asp-for="City"></label>
                <input class="form-control" placeholder="Stad" asp-for="City">
            </div>
            <div class="form-group">
                <label asp-for="Phone"></label>
                <input class="form-control" placeholder="Telefonnummer" asp-for="Phone">
            </div>
            <div class="form-group">
                <label asp-for="Nation"></label>
                <input class="form-control" placeholder="Nation" asp-for="Nation">
            </div>
            <div class="form-group">
                <label asp-for="Instrument"></label>
                <select class="form-control" asp-for="Instrument" required>
                    <option value="">Välj instrument</option>
                    @foreach(var instr in AkInstruments.Instrument){
                        <option>@instr</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Uppdatera profil</button>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <h3>Byt lösenord:</h3>
        <form id="change-profile-password" method="POST" action="/Profile/ChangePassword">
            <div class="alert alert-danger" style="display: none;"></div>
            <div class="alert alert-success" style="display: none;">Lösenord uppdaterat</div>
            <div class="form-group">
                <label for="newpass">Nytt lösenord:</label>
                <input type="password" class="form-control" name="password" id="newpass" placeholder="Lösenord" value="">
            </div>
            <div class="form-group">
                <label for="confirmpass">Bekräfta lösenord:</label>
                <input type="password" class="form-control" id="confirmpass" placeholder="Bekräfta lösenord" value="">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Uppdatera lösenord</button>
            </div>
        </form>
    </div>
</div>