
@section styles {
    <environment exclude="Development">
        <link rel="stylesheet" href="/dist/@assetsModel.CssAdmin">
    </environment>
}

@section scripts {
    <script src="/tinymce/tinymce.min.js"></script>
    <environment exclude="Development">
        <script src="~/dist/@assetsModel.JsAdmin" type="module">
        </script>
    </environment>
    <environment include="Development">
        <script src="~/Scripts/admin.ts" type="module" asp-append-version="true">
        </script>
    </environment>
}

<div id="pageedit-app"></div>
