
@section styles {
    <environment exclude="Development">
        <link rel="stylesheet" href="/dist/admin.css" asp-append-version="true">
    </environment>
}

@section scripts {
    <script src="/tinymce/tinymce.min.js"></script>
    <script src="~/dist/admin.js" asp-append-version="true"></script>
}

<div id="pageedit-app"></div>
