@section styles {
    <partial name="Imports/AdminImportStyles" />
}

@section scripts {
    <script src="@settings.CDN/tinymce/tinymce.min.js"></script>
    <partial name="Imports/AdminImportScripts" />
}
<script>
    const cssMain = '@assetsModel.Assets["main"].Css.FirstOrDefault(x=>x.Contains("main"))';
</script>

<div id="pageedit-app"></div>
