@model AKCore.DataModel.Widget
<div class="col-sm-12">
    @if (Model.Videos != null)
    {
        <div class="row">
            <div class="col-sm-6">
                <label>Video</label>
            </div>
            <div class="col-sm-6">
                <label>Namn</label>
            </div>
        </div>
        foreach (var v in Model.Videos)
        {
            <div class="form-group video-area row">
                <div class="col-sm-6">
                    <input class="form-control video-link" value="@v.Link">
                </div>
                <div class="col-sm-6">
                    <input class="form-control video-title" value="@v.Title"><a href="#" class="btn remove-video glyphicon glyphicon-remove"></a>
                </div>
            </div>
        }
    }
</div>
<div class="col-sm-6">
    <a href="#" class="btn btn-default add-video-link">Lägg till video</a>
</div>