@model AKCore.Models.MenuEditModel
<div class="row">
    <div class="col-md-6">
        <button type="button" id="add-menu" class="btn btn-primary">
            Lägg till en toppmeny
        </button>
    </div>
</div>
<div class="row edit-form" id="edit-menu-container" style="display: none;">
    <div class="col-md-6">
        <form action="/MenuEdit/AddTopMenu" id="add-top-menu" method="post">
            <div class="alert alert-danger" style="display: none;">
            </div>
            <div class="alert alert-success" style="display: none;">
                Meny sparad
            </div>
            <div class="form-group">
                <label for="name">Menytext: </label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Menytext">
            </div>
            <div class="form-group">
                <label for="slug">Menylänk: </label>
                <select name="pageId" id="slug" class="form-control chosen-select" data-placeholder="Sida">
                    <option>Välj en sida</option>
                    @foreach (var p in Model.Pages)
                    {
                        <option value="@p.Id">@p.Name</option>
                    }
                </select>
            </div>
            <div class="checkbox">
                <label>
                    <input name="loggedIn" type="checkbox"> Kräv inloggning
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input name="balett" class="balett" type="checkbox"> Visa enbart för balett
                </label>
            </div>
            <button type="submit" class="btn btn-default">Skapa</button>
        </form>
    </div>
</div>
<div class="row" id="menualerts">
    <div class="alert alert-danger" style="display: none;"></div>
    <div class="alert alert-success" style="display: none;"></div>
</div>
<div class="row menu-display" id="menus">
    <partial name="_MenuList" model="Model"/>
</div>

<partial name="_SubMenuModal" model="Model"/>
<partial name="_EditMenuModal" model="Model"/>

@section styles {
    <link rel="stylesheet" href="/dist/admin.css" asp-append-version="true">
}

@section scripts {
    <script src="~/dist/admin.js" asp-append-version="true"></script>
}