<div id="menu-edit-app"></div>


@section styles {
    <environment exclude="Development">
        <link rel="stylesheet" href="/dist/@assetsModel.CssAdmin">
    </environment>
}

@section scripts {
        <environment exclude="Development">
        <script src="~/dist/@assetsModel.JsAdmin" type="module">
        </script>
        </environment>
        <environment include="Development">
        <script src="~/Scripts/admin.ts" type="module" asp-append-version="true">
            </script>
        </environment>
}