@model AKCore.DataModel.Widget
<div class="col-sm-6">
    <textarea class="mce-content">@Model.Text</textarea>
</div>
<div class="col-sm-6">
    <div class="picture-select">
        <img class="selected-image" src="@Model.Image" />
        <a class="btn btn-default choose-picture-btn">Välj bild</a>
    </div>
</div>