@use "sass:color";

$alert-padding: 15px;

.alert {
  padding: $alert-padding;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;

  h4 {
    margin-top: 0;
    color: inherit;
  }

  > p,
  > ul {
    margin-bottom: 0;
  }

  > p + p {
    margin-top: 5px;
  }
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: color.adjust(
    color.adjust(#dff0d8, $hue: -10deg),
    $lightness: -5%
  );
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: color.adjust(
    color.adjust(#d9edf7, $hue: -10deg),
    $lightness: -5%
  );
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: color.adjust(
    color.adjust(#fcf8e3, $hue: -10deg),
    $lightness: -5%
  );
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: color.adjust(
    color.adjust(#f2dede, $hue: -10deg),
    $lightness: -5%
  );
}
