@use "sass:math";
@use "grid-mixins.scss";
@use "@styles/variables.scss";

$container-sm: (720px + variables.$grid-gutter-width);
$container-md: (940px + variables.$grid-gutter-width);
$container-lg: (1140px + variables.$grid-gutter-width);

.container {
  padding-right: math.ceil(math.div(variables.$grid-gutter-width, 2));
  padding-left: math.floor(math.div(variables.$grid-gutter-width, 2));
  margin-right: auto;
  margin-left: auto;
  &:before,
  &:after {
    display: table;
    content: " ";
  }
  &:after {
    clear: both;
  }

  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
}

// Row
//
// Rows contain and clear the floats of your columns.

.row {
  margin-right: -15px;
  margin-left: -15px;
  &:before,
  &:after {
    display: table;
    content: " ";
  }
  &:after {
    clear: both;
  }
}

@include grid-mixins.create-columns;

@include grid-mixins.create-grid(xs);

@media (min-width: $screen-sm-min) {
  @include grid-mixins.create-grid(sm);
}

@media (min-width: $screen-md-min) {
  @include grid-mixins.create-grid(md);
}

@media (min-width: $screen-lg-min) {
  @include grid-mixins.create-grid(lg);
}
