@model AKCore.DataModel.Widget

<div class="row">
    <div class="col-sm-6">
        @Html.Raw(Model.Text)
    </div>
    <div class="col-sm-6 center-image">
        <img class="side-image" src="@Model.Image" />
    </div>
</div>